#                                                                         #
#   ╔╦╗┌─┐┬  ┬ ┬┌─┐                                                       #
#    ║ ├─┘│  │ │└─┐                                                       #
#    ╩ ┴  ┴─┘└─┘└─┘                                                       #
#                                                                         #
#    Tplus Server Configuration File                                      #
#                                                                         #
#                                                                         #
#    Note: It is generally a good idea to use the cli command to change   #
#           settings in this File                                         #
#                                                                         #
#    -----------------------------------------------------------------    #


DataDir: {{datadir}}
Mode: {{mode}}
WebPort: {{webport}}
EndpointMode: {{ endpointmode }}
EndpointPort: {{ endpointport }}
PublicIP: {{ publicip }}
EnableUserAuth: {{ enableuser }}
LogType: {{ logtype }}

# LogType can be:
# * json  - for parsing, not very human readable
# * pretty - human readable, entire context
# * short_and_pretty - human readable, only important info