{
  "p2p": {
    "bootstrap-peers": [
       "boot.tzbeta.net",
       "52.188.193.89",
       "172.105.85.92",
       "65.52.124.73",
       "94.130.176.97",
       "54.36.124.100",
       "74.207.235.202",
       "52.73.93.138",
       "148.251.129.229",
       "95.216.138.67",
       "34.215.147.163",
       "136.49.67.0",
       "88.198.180.212",
       "34.74.137.108",
       "173.230.154.174",
       "92.252.125.221",
       "163.172.52.82",
       "51.107.5.18",
       "103.72.144.226"
    ],
    "listen-addr": "[::]:9732"
  },
  "shell": {
     "history_mode": "{{historymode}}"
  },
  "network":"mainnet"
}