{
   "p2p":{
      "bootstrap-peers":[
         "tezaria.com",
         "34.76.169.218",
         "34.90.24.160",
         "carthagenet.kaml.fr",
         "104.248.136.94"
      ],
      "listen-addr":"[::]:9732"
   },
   "shell": {
       "history_mode": "{{historymode}}"
   },
   "network":"carthagenet"
}